html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 16px;
}

div {
  max-width: 1024px;
  padding: 16px;
  border-top: lightgray 1px dotted;
}

div:last-of-type {
  border-bottom: lightgray 1px dotted;
}

div:target {
  background: lightgoldenrodyellow;
}
